/* .App {
  text-align: center;
} */

/* Full-width layout with responsive margins */
.main-content {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

/* Add minimal margins on medium and larger screens */
@media (min-width: 768px) {
  .main-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
